{% extends 'base.html.twig' %}

{% form_theme form ':Form:form_div_layout.html.twig' %}

{% block content %}

    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Horizontal Menu</span>
                    </li>
                </ul>

            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h1 class="page-title"> Full Width Layout
                <small>full width layout with mega menu</small>
            </h1>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <div class="note note-info">
                <p> Full width & fluid layout with horizontal mega menu. </p>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>


{% endblock %}